Repository trongtindev/wutheringwaves-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore: initial submodule
  .gitmodules
Due: none

chore: initial submodule
  .github/workflows/deploy.yml
  .github/workflows/quality.yml
Due: none

Update calcharo.json
  resources/characters/calcharo.json
Due: prettier --write

chore: daily update
  .vscode/settings.json
  components/calculator/builder-echo-item-slot.vue
  components/calculator/builder-echoes-item.vue
  components/masonry.vue
  composables/calculator.ts
  i18n/messages/en/default.json
  interfaces/calculator.ts
  nuxt.config.ts
  utils/echo.ts
  utils/math.ts
Due: eslint, prettier --write

feat: daily update
  assets/main.css
  assets/main.scss
  bun.lockb
  components/calculator/builder-echo-item-slot.vue
  components/calculator/builder-echoes-item.vue
  components/calculator/builder-overall-item.vue
  components/calculator/builder-rotation-skills.vue
  components/calculator/builder-rotation.vue
  components/calculator/builder-sequences.vue
  components/calculator/builder-skill-item.vue
  components/calculator/builder-skills-item.vue
  components/calculator/builder-skills.vue
  components/calculator/builder-sonatas-item.vue
  components/calculator/builder-sonatas.vue
  components/calculator/builder-team-item.vue
  components/calculator/builder.vue
  components/sign-in-required.vue
  composables/calculator.ts
  composables/resources.ts
  i18n/messages/en/default.json
  interfaces/calculator.ts
  interfaces/character.ts
  package.json
  pages/calculator/index.vue
  resources/characters.json
  resources/characters/aalto.json
  utils/array.ts
  utils/echo.ts
  utils/random.ts
Due: eslint, prettier --write

feat: daily update
  components/calculator/builder-weapon.vue
  package.json
  pages/calculator/index.vue
Due: prettier --write

feat: daily update
  bun.lockb
Due: none

feat: daily update
  components/convene-history/rank-summary.vue
  i18n/messages/en/default.json
  pages/convene-history/index.vue
  utils/convene.ts
Due: eslint, prettier --write

chore: fix statistics
  components/convene-history/rank-summary.vue
Due: prettier --write

chore: update progress type
  components/convene-history/rank-summary.vue
Due: prettier --write

feat: daily update
  composables/calculator.ts
Due: eslint, prettier --write

chore: update submodule url
  .gitmodules
Due: none

chore(deps): up-to-date
  bun.lockb
  package.json
Due: prettier --write

feat: daily update
  bun.lockb
  components/header-chips.vue
  middleware/if-modified-since.global.ts
  nuxt.config.ts
  pages/donation.vue
  pages/errors/data-corrupted.vue
  pages/guides/editor.client.vue
Due: eslint, prettier --write

feat: daily update
  components/dialog/echoes.vue
  composables/resources.ts
  pages/convene-history/index.vue
  server/api/resources/trophies.ts
Due: eslint, prettier --write

feat: daily update
  bun.lockb
  package.json
Due: prettier --write

feat: daily update
  Dockerfile
Due: none

Update changli.json
  resources/characters/changli.json
Due: prettier --write

chore: optimized
  .gitignore
  assets/main.scss
  bun.lockb
  components/alert.vue
  components/calculator/builder.vue
  components/edit-this-page.vue
  components/settings/account-item.vue
  components/split-img.vue
  nuxt.config.ts
  package.json
Due: eslint, prettier --write

ci: fix docker image
  Dockerfile
Due: none

chore: check url expired
  app/components/convene-history/import-method-android.vue
  app/components/convene-history/import-method-pc.vue
  app/composables/account.ts
  app/i18n/messages/en/default.json
  app/pages/convene-history/import.vue
Due: eslint, prettier --write

chore: optimized
  .dockerignore
  .gitignore
  app/composables/updater.ts
  server/api/version.ts
  tsconfig.json
  vercel-submodule.sh
Due: eslint, prettier --write

chore: fix indexable
  nuxt.config.ts
Due: eslint, prettier --write

chore: remove preview
  nuxt.config.ts
Due: eslint, prettier --write

chore: remove robots
  nuxt.config.ts
Due: eslint, prettier --write

chore: fix pull by day label
  app/pages/convene-history/global.vue
Due: prettier --write

feat: daily update
  .env.production
  app/app.vue
  app/components/convene-history/rank-summary.vue
  app/i18n/messages/en/default.json
  app/pages/convene-history/global.vue
  app/utils/convene.ts
  bun.lockb
  nuxt.config.ts
  package.json
  server/api/github/stars.ts
  server/api/robots.ts
  server/utils/github.ts
  tsconfig.json
Due: eslint, prettier --write

ci: add prune
  .github/workflows/prune.yml
Due: none

feat: daily update
  app/assets/main.css
  app/components/characters/sequence-item.vue
  app/components/characters/skill-item.vue
  app/composables/resources.ts
  app/interfaces/character.ts
  app/pages/convene-history/global.vue
  app/utils/parse.ts
  bun.lockb
  nuxt.config.ts
  package.json
  public/characters/portraits/the-shorekeeper.webp
  public/characters/portraits/youhu.webp
  public/resonance_chain/icons/end-of-stars.webp
  public/resonance_chain/icons/prodigy-of-groteges.webp
  public/resonance_chain/icons/ruins-of-ancient.webp
  public/resonance_chain/icons/solace-of-the-ordinary.webp
  public/resonance_chain/icons/traces-of-predecessors.webp
  public/resonance_chain/icons/vessel-of-rebirth.webp
  public/schema/character.schema.json
  resources/characters.json
  resources/characters/xiangli-yao.json
Due: eslint, prettier --write

feat: daily update
  app/components/commit/character-skills.vue
  app/components/commit/commit-character.vue
  app/components/commit/localized-field.vue
  app/components/header-chips.vue
  app/i18n/messages/en/default.json
  app/pages/commit/index.client.vue
  app/utils/parse.ts
  nuxt.config.ts
  public/schema/character.schema.json
  resources/characters/aalto.json
  resources/characters/baizhi.json
  resources/characters/calcharo.json
  resources/characters/changli.json
  resources/characters/chixia.json
  resources/characters/danjin.json
  resources/characters/encore.json
  resources/characters/jianxin.json
  resources/characters/jinhsi.json
  resources/characters/jiyan.json
  resources/characters/lingyang.json
  resources/characters/mortefi.json
  resources/characters/rover-havoc.json
  resources/characters/rover.json
  resources/characters/sanhua.json
  resources/characters/taoqi.json
  resources/characters/verina.json
  resources/characters/yangyang.json
  resources/characters/yinlin.json
  resources/characters/yuanwu.json
  resources/characters/zhezhi.json
Due: eslint, prettier --write

chore: remove redis
  .env.production
  app/composables/api.ts
  nuxt.config.ts
Due: eslint, prettier --write

chore(deps): up-to-date
  app/composables/analytics.ts
  bun.lockb
  package.json
Due: eslint, prettier --write

chore: optimized
  app/composables/resources.ts
  app/pages/weapons/index.vue
  app/utils/resources.ts
  app/utils/timer.ts
  public/schema/items.schema.json
  resources/items.json
  server/api/__sitemap__/characters.ts
  server/api/__sitemap__/echoes.ts
  server/api/__sitemap__/items.ts
  server/api/__sitemap__/weapons.ts
  server/api/resources/characters.ts
  server/api/resources/echoes.ts
  server/api/resources/items.ts
  server/api/resources/weapons.ts
Due: eslint, prettier --write

chore(deps): up-to-date
  app/i18n/messages/en/default.json
  bun.lockb
  declarations.d.ts
  eslint.config.mjs
  nuxt.config.ts
  package.json
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{css,json,vue})
